.header {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 100vw;
  box-sizing: border-box;
  font-family:'Inter', 'Arial', sans-serif;
  overflow-x: hidden;
}