.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  position: relative;
  top: -792px;
  right: -450px;
  opacity: .5;
  width: 1100px;
  height: 1100px;
  z-index: 0;
}